<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a19.png</key>
            <dict>
                <key>height</key>
                <integer>299</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>299</integer>
                <key>originalWidth</key>
                <integer>290</integer>
                <key>width</key>
                <integer>290</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>605</integer>
            </dict>
            <key>a20.png</key>
            <dict>
                <key>height</key>
                <integer>299</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>299</integer>
                <key>originalWidth</key>
                <integer>324</integer>
                <key>width</key>
                <integer>324</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>304</integer>
            </dict>
            <key>a21.png</key>
            <dict>
                <key>height</key>
                <integer>298</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>298</integer>
                <key>originalWidth</key>
                <integer>315</integer>
                <key>width</key>
                <integer>315</integer>
                <key>x</key>
                <integer>328</integer>
                <key>y</key>
                <integer>304</integer>
            </dict>
            <key>a22.png</key>
            <dict>
                <key>height</key>
                <integer>300</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>300</integer>
                <key>originalWidth</key>
                <integer>437</integer>
                <key>width</key>
                <integer>437</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>a23.png</key>
            <dict>
                <key>height</key>
                <integer>300</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>300</integer>
                <key>originalWidth</key>
                <integer>337</integer>
                <key>width</key>
                <integer>337</integer>
                <key>x</key>
                <integer>441</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>a24.png</key>
            <dict>
                <key>height</key>
                <integer>293</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>293</integer>
                <key>originalWidth</key>
                <integer>298</integer>
                <key>width</key>
                <integer>298</integer>
                <key>x</key>
                <integer>645</integer>
                <key>y</key>
                <integer>304</integer>
            </dict>
            <key>a25.png</key>
            <dict>
                <key>height</key>
                <integer>299</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>299</integer>
                <key>originalWidth</key>
                <integer>261</integer>
                <key>width</key>
                <integer>261</integer>
                <key>x</key>
                <integer>294</integer>
                <key>y</key>
                <integer>605</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>alpha2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fb430b7062fa5e0b5b7520b5a27bb31$</string>
            <key>textureFileName</key>
            <string>alpha2.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>1024</integer>
            <key>width</key>
            <integer>1024</integer>
        </dict>
    </dict>
</plist>
