<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a0.png</key>
            <dict>
                <key>height</key>
                <integer>303</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>303</integer>
                <key>originalWidth</key>
                <integer>351</integer>
                <key>width</key>
                <integer>351</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>a1.png</key>
            <dict>
                <key>height</key>
                <integer>295</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>295</integer>
                <key>originalWidth</key>
                <integer>295</integer>
                <key>width</key>
                <integer>295</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>307</integer>
            </dict>
            <key>a2.png</key>
            <dict>
                <key>height</key>
                <integer>302</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>302</integer>
                <key>originalWidth</key>
                <integer>288</integer>
                <key>width</key>
                <integer>288</integer>
                <key>x</key>
                <integer>299</integer>
                <key>y</key>
                <integer>309</integer>
            </dict>
            <key>a3.png</key>
            <dict>
                <key>height</key>
                <integer>299</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>299</integer>
                <key>originalWidth</key>
                <integer>325</integer>
                <key>width</key>
                <integer>325</integer>
                <key>x</key>
                <integer>684</integer>
                <key>y</key>
                <integer>303</integer>
            </dict>
            <key>a4.png</key>
            <dict>
                <key>height</key>
                <integer>304</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>304</integer>
                <key>originalWidth</key>
                <integer>287</integer>
                <key>width</key>
                <integer>287</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>604</integer>
            </dict>
            <key>a5.png</key>
            <dict>
                <key>height</key>
                <integer>299</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>299</integer>
                <key>originalWidth</key>
                <integer>281</integer>
                <key>width</key>
                <integer>281</integer>
                <key>x</key>
                <integer>291</integer>
                <key>y</key>
                <integer>613</integer>
            </dict>
            <key>a6.png</key>
            <dict>
                <key>height</key>
                <integer>305</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>305</integer>
                <key>originalWidth</key>
                <integer>327</integer>
                <key>width</key>
                <integer>327</integer>
                <key>x</key>
                <integer>355</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>a7.png</key>
            <dict>
                <key>height</key>
                <integer>299</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>299</integer>
                <key>originalWidth</key>
                <integer>327</integer>
                <key>width</key>
                <integer>327</integer>
                <key>x</key>
                <integer>684</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>a8.png</key>
            <dict>
                <key>height</key>
                <integer>294</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>294</integer>
                <key>originalWidth</key>
                <integer>168</integer>
                <key>width</key>
                <integer>168</integer>
                <key>x</key>
                <integer>835</integer>
                <key>y</key>
                <integer>604</integer>
            </dict>
            <key>a9.png</key>
            <dict>
                <key>height</key>
                <integer>299</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>299</integer>
                <key>originalWidth</key>
                <integer>259</integer>
                <key>width</key>
                <integer>259</integer>
                <key>x</key>
                <integer>574</integer>
                <key>y</key>
                <integer>613</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>alpha.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f3edf54e80ebb063ae09a24e2c27fa1$</string>
            <key>textureFileName</key>
            <string>alpha.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>1024</integer>
            <key>width</key>
            <integer>1024</integer>
        </dict>
    </dict>
</plist>
