<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a10.png</key>
            <dict>
                <key>height</key>
                <integer>297</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>297</integer>
                <key>originalWidth</key>
                <integer>337</integer>
                <key>width</key>
                <integer>337</integer>
                <key>x</key>
                <integer>317</integer>
                <key>y</key>
                <integer>298</integer>
            </dict>
            <key>a11.png</key>
            <dict>
                <key>height</key>
                <integer>300</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>300</integer>
                <key>originalWidth</key>
                <integer>263</integer>
                <key>width</key>
                <integer>263</integer>
                <key>x</key>
                <integer>266</integer>
                <key>y</key>
                <integer>676</integer>
            </dict>
            <key>a12.png</key>
            <dict>
                <key>height</key>
                <integer>294</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>294</integer>
                <key>originalWidth</key>
                <integer>368</integer>
                <key>width</key>
                <integer>368</integer>
                <key>x</key>
                <integer>317</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>a13.png</key>
            <dict>
                <key>height</key>
                <integer>295</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>295</integer>
                <key>originalWidth</key>
                <integer>336</integer>
                <key>width</key>
                <integer>336</integer>
                <key>x</key>
                <integer>656</integer>
                <key>y</key>
                <integer>307</integer>
            </dict>
            <key>a14.png</key>
            <dict>
                <key>height</key>
                <integer>302</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>302</integer>
                <key>originalWidth</key>
                <integer>312</integer>
                <key>width</key>
                <integer>312</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>372</integer>
            </dict>
            <key>a15.png</key>
            <dict>
                <key>height</key>
                <integer>299</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>299</integer>
                <key>originalWidth</key>
                <integer>282</integer>
                <key>width</key>
                <integer>282</integer>
                <key>x</key>
                <integer>531</integer>
                <key>y</key>
                <integer>604</integer>
            </dict>
            <key>a16.png</key>
            <dict>
                <key>height</key>
                <integer>368</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>368</integer>
                <key>originalWidth</key>
                <integer>313</integer>
                <key>width</key>
                <integer>313</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>a17.png</key>
            <dict>
                <key>height</key>
                <integer>303</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>303</integer>
                <key>originalWidth</key>
                <integer>321</integer>
                <key>width</key>
                <integer>321</integer>
                <key>x</key>
                <integer>687</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>a18.png</key>
            <dict>
                <key>height</key>
                <integer>303</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>303</integer>
                <key>originalWidth</key>
                <integer>262</integer>
                <key>width</key>
                <integer>262</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>676</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>alpha1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1837e3fc542a7699067f07328a87da9$</string>
            <key>textureFileName</key>
            <string>alpha1.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>1024</integer>
            <key>width</key>
            <integer>1024</integer>
        </dict>
    </dict>
</plist>
