<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c3.png</key>
            <dict>
                <key>height</key>
                <integer>542</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>542</integer>
                <key>originalWidth</key>
                <integer>426</integer>
                <key>width</key>
                <integer>426</integer>
                <key>x</key>
                <integer>480</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>c4.png</key>
            <dict>
                <key>height</key>
                <integer>554</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>554</integer>
                <key>originalWidth</key>
                <integer>476</integer>
                <key>width</key>
                <integer>476</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>color1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fb7832139d7d97678825ebf56081607$</string>
            <key>textureFileName</key>
            <string>color1.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>1024</integer>
            <key>width</key>
            <integer>1024</integer>
        </dict>
    </dict>
</plist>
