<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c0.png</key>
            <dict>
                <key>height</key>
                <integer>510</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>510</integer>
                <key>originalWidth</key>
                <integer>526</integer>
                <key>width</key>
                <integer>526</integer>
                <key>x</key>
                <integer>396</integer>
                <key>y</key>
                <integer>466</integer>
            </dict>
            <key>c1.png</key>
            <dict>
                <key>height</key>
                <integer>529</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>529</integer>
                <key>originalWidth</key>
                <integer>392</integer>
                <key>width</key>
                <integer>392</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>466</integer>
            </dict>
            <key>c2.png</key>
            <dict>
                <key>height</key>
                <integer>462</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>462</integer>
                <key>originalWidth</key>
                <integer>542</integer>
                <key>width</key>
                <integer>542</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>color.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2932c20c742aa69308a04fd0ccff2cd$</string>
            <key>textureFileName</key>
            <string>color.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>1024</integer>
            <key>width</key>
            <integer>1024</integer>
        </dict>
    </dict>
</plist>
