<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>n0.png</key>
            <dict>
                <key>height</key>
                <integer>270</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>270</integer>
                <key>originalWidth</key>
                <integer>123</integer>
                <key>width</key>
                <integer>123</integer>
                <key>x</key>
                <integer>768</integer>
                <key>y</key>
                <integer>546</integer>
            </dict>
            <key>n1.png</key>
            <dict>
                <key>height</key>
                <integer>270</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>270</integer>
                <key>originalWidth</key>
                <integer>187</integer>
                <key>width</key>
                <integer>187</integer>
                <key>x</key>
                <integer>824</integer>
                <key>y</key>
                <integer>274</integer>
            </dict>
            <key>n2.png</key>
            <dict>
                <key>height</key>
                <integer>270</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>270</integer>
                <key>originalWidth</key>
                <integer>187</integer>
                <key>width</key>
                <integer>187</integer>
                <key>x</key>
                <integer>824</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>n3.png</key>
            <dict>
                <key>height</key>
                <integer>270</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>270</integer>
                <key>originalWidth</key>
                <integer>203</integer>
                <key>width</key>
                <integer>203</integer>
                <key>x</key>
                <integer>204</integer>
                <key>y</key>
                <integer>546</integer>
            </dict>
            <key>n4.png</key>
            <dict>
                <key>height</key>
                <integer>270</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>270</integer>
                <key>originalWidth</key>
                <integer>171</integer>
                <key>width</key>
                <integer>171</integer>
                <key>x</key>
                <integer>595</integer>
                <key>y</key>
                <integer>279</integer>
            </dict>
            <key>n5.png</key>
            <dict>
                <key>height</key>
                <integer>275</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>275</integer>
                <key>originalWidth</key>
                <integer>205</integer>
                <key>width</key>
                <integer>205</integer>
                <key>x</key>
                <integer>617</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>n6.png</key>
            <dict>
                <key>height</key>
                <integer>270</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>270</integer>
                <key>originalWidth</key>
                <integer>184</integer>
                <key>width</key>
                <integer>184</integer>
                <key>x</key>
                <integer>409</integer>
                <key>y</key>
                <integer>546</integer>
            </dict>
            <key>n7.png</key>
            <dict>
                <key>height</key>
                <integer>280</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>280</integer>
                <key>originalWidth</key>
                <integer>200</integer>
                <key>width</key>
                <integer>200</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>546</integer>
            </dict>
            <key>n8.png</key>
            <dict>
                <key>height</key>
                <integer>275</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>275</integer>
                <key>originalWidth</key>
                <integer>209</integer>
                <key>width</key>
                <integer>209</integer>
                <key>x</key>
                <integer>406</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>n9.png</key>
            <dict>
                <key>height</key>
                <integer>280</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>280</integer>
                <key>originalWidth</key>
                <integer>402</integer>
                <key>width</key>
                <integer>402</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>number.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:614a913b6667caba798168a55d1bdf0f$</string>
            <key>textureFileName</key>
            <string>number.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>1024</integer>
            <key>width</key>
            <integer>1024</integer>
        </dict>
    </dict>
</plist>
