<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b1.png</key>
            <dict>
                <key>height</key>
                <integer>90</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>90</integer>
                <key>originalWidth</key>
                <integer>285</integer>
                <key>width</key>
                <integer>285</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>861</integer>
            </dict>
            <key>b2.png</key>
            <dict>
                <key>height</key>
                <integer>90</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>90</integer>
                <key>originalWidth</key>
                <integer>285</integer>
                <key>width</key>
                <integer>285</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>769</integer>
            </dict>
            <key>b3.png</key>
            <dict>
                <key>height</key>
                <integer>90</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>90</integer>
                <key>originalWidth</key>
                <integer>285</integer>
                <key>width</key>
                <integer>285</integer>
                <key>x</key>
                <integer>289</integer>
                <key>y</key>
                <integer>744</integer>
            </dict>
            <key>b4.png</key>
            <dict>
                <key>height</key>
                <integer>90</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>90</integer>
                <key>originalWidth</key>
                <integer>285</integer>
                <key>width</key>
                <integer>285</integer>
                <key>x</key>
                <integer>576</integer>
                <key>y</key>
                <integer>677</integer>
            </dict>
            <key>b5.png</key>
            <dict>
                <key>height</key>
                <integer>90</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>90</integer>
                <key>originalWidth</key>
                <integer>285</integer>
                <key>width</key>
                <integer>285</integer>
                <key>x</key>
                <integer>289</integer>
                <key>y</key>
                <integer>652</integer>
            </dict>
            <key>b6.png</key>
            <dict>
                <key>height</key>
                <integer>90</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>90</integer>
                <key>originalWidth</key>
                <integer>285</integer>
                <key>width</key>
                <integer>285</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>560</integer>
            </dict>
            <key>b7.png</key>
            <dict>
                <key>height</key>
                <integer>90</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>90</integer>
                <key>originalWidth</key>
                <integer>285</integer>
                <key>width</key>
                <integer>285</integer>
                <key>x</key>
                <integer>289</integer>
                <key>y</key>
                <integer>560</integer>
            </dict>
            <key>b8.png</key>
            <dict>
                <key>height</key>
                <integer>90</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>90</integer>
                <key>originalWidth</key>
                <integer>285</integer>
                <key>width</key>
                <integer>285</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>677</integer>
            </dict>
            <key>s0.png</key>
            <dict>
                <key>height</key>
                <integer>260</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>260</integer>
                <key>originalWidth</key>
                <integer>406</integer>
                <key>width</key>
                <integer>406</integer>
                <key>x</key>
                <integer>592</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>s1.png</key>
            <dict>
                <key>height</key>
                <integer>411</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>411</integer>
                <key>originalWidth</key>
                <integer>388</integer>
                <key>width</key>
                <integer>388</integer>
                <key>x</key>
                <integer>592</integer>
                <key>y</key>
                <integer>264</integer>
            </dict>
            <key>shapesback.png</key>
            <dict>
                <key>height</key>
                <integer>556</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>556</integer>
                <key>originalWidth</key>
                <integer>588</integer>
                <key>width</key>
                <integer>588</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>shape.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1120faa54160fd140a82ae6e9066ca95$</string>
            <key>textureFileName</key>
            <string>shape.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>1024</integer>
            <key>width</key>
            <integer>1024</integer>
        </dict>
    </dict>
</plist>
