<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s6.png</key>
            <dict>
                <key>height</key>
                <integer>417</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>417</integer>
                <key>originalWidth</key>
                <integer>288</integer>
                <key>width</key>
                <integer>288</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>420</integer>
            </dict>
            <key>s7.png</key>
            <dict>
                <key>height</key>
                <integer>416</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>416</integer>
                <key>originalWidth</key>
                <integer>412</integer>
                <key>width</key>
                <integer>412</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>shape2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a6d478c6395ef0b563175cfa75d7037$</string>
            <key>textureFileName</key>
            <string>shape2.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>1024</integer>
            <key>width</key>
            <integer>512</integer>
        </dict>
    </dict>
</plist>
